* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
}

section .container {
  width: 80%;
  padding: 20px 1em;
  margin: auto;
  overflow: hidden;
}

/*=============================*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 88;
  border: none;
  outline: none;
  background-color: #D81E2A;
  cursor: pointer;
  padding: 12px;
  border-radius: 50px;
  font-size: 18px;
  color: white;
}

/*=============================*/
.nav {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99;
  -webkit-box-shadow: 0 0 30px rgba(7, 51, 84, 0.17) !important;
          box-shadow: 0 0 30px rgba(7, 51, 84, 0.17) !important;
}

.nav .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 1.5em;
}

.nav .container h1 a {
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.nav .container ul {
  padding: 5px 0px;
}

.nav .container ul a {
  font-weight: 500 !important;
  padding: 0px 15px;
  color: #4c4c52;
}

.nav .container ul .active {
  font-weight: 600 !important;
}

.nav .container ul .left-link {
  display: inline;
  border-right: 1px #949494 solid;
}

.nav .container button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  display: none;
}

.sidebar {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.sidebar .box {
  width: 100%;
  height: 100%;
  padding: 10px 1em;
}

.sidebar .box .left-link {
  border-right: 1px #949494 solid;
}

.sidebar .box button {
  top: 0px;
  left: 20px;
  padding: 10px;
  background-color: #d1d1d1;
  border-radius: 50px;
  border: none;
}

.sidebar .box ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .box ul a {
  margin: 15px 0px;
  font-size: 1.5rem;
  color: #212124;
}

.sidebar .box ul p a {
  padding: 0px 20px;
}

/*=============================*/
.header {
  height: 950px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 31, 37, 0)), to(#1b1f25)), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/06/car-dealer-24.jpg) !important;
  background-image: linear-gradient(180deg, rgba(27, 31, 37, 0) 0%, #1b1f25 100%), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/06/car-dealer-24.jpg) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .overlay-box {
  position: absolute;
  height: 950px;
  width: 900px;
  background-color: black;
  z-index: 1;
  left: 15%;
  opacity: 0.1;
}

.header .container {
  position: relative;
  max-width: 1500px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .container .details h1 {
  letter-spacing: 8px;
  margin-bottom: 50px;
  font-weight: 600;
}

.header .container .details .inner-box {
  margin-left: 100px;
}

.header .container .details .inner-box .title {
  color: white;
  text-transform: uppercase;
  font-size: 9rem;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 150px;
}

.header .container .details .inner-box .quote {
  color: white;
  margin-bottom: 100px;
  font-size: 15px;
}

.header .container .details .inner-box a {
  color: white;
  background-color: #D81E2A;
  padding: 20px 50px;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

/*=============================*/
.about {
  width: 100%;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  text-align: center;
  padding: 0px 1em;
  color: white;
}

.about .container i {
  font-size: 50px;
  color: #65656d;
  margin-bottom: 30px;
}

.about .container h1 {
  font-size: 33px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.about .container p {
  font-weight: 300;
  max-width: 500px;
  margin: auto;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 35px;
}

.about .container .button {
  bottom: 0px;
  background-color: white;
  z-index: 2;
  color: #D81E2A;
  padding: 15px 50px;
  -webkit-box-shadow: 0px 30px 110px 14px rgba(152, 165, 181, 0.5);
          box-shadow: 0px 30px 110px 14px rgba(152, 165, 181, 0.5);
  text-transform: uppercase;
  font-weight: 800;
}

.about .container .button i {
  font-size: 15px;
  color: #D81E2A;
  margin-left: 10px;
}

.about .container .box-1 {
  background-color: #2C3039;
  width: 100%;
  padding: 100px 30px;
  position: relative;
}

.about .container .box-1 .bottom-1 {
  height: 50px;
  background-color: white;
  width: 102%;
  position: absolute;
  bottom: -20px;
  left: -6px;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.about .container .box-2 {
  background-color: #21262C;
  width: 100%;
  padding: 100px 30px;
  position: relative;
}

.about .container .box-2 .bottom-2 {
  height: 50px;
  background-color: white;
  width: 102%;
  position: absolute;
  bottom: -20px;
  right: -6px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

/*=============================*/
.services {
  width: 100%;
  position: relative;
  /*background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 53%, rgba(255, 255, 255, 0.2) 94%, rgba(255, 255, 255, 0.1) 100%), url('../img/tesla.jpg')!important;*/
  background-image: url("../img/carback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .bottom-img {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.services .container {
  padding: 100px 1em;
  text-align: center;
}

.services .container .title {
  font-size: 5vw;
  color: #222227;
}

.services .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.services .container .grid .box {
  padding: 30px 0px;
}

.services .container .grid .box h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.services .container .grid .box p {
  line-height: 25px;
  margin-bottom: 20px;
  color: #4c4c52;
}

.services .container .grid .box a {
  color: #D81E2A;
  font-weight: 800;
  letter-spacing: 2px;
}

.services .container .grid .box a i {
  margin-left: 5px;
}

/*=============================*/
.inventory {
  width: 100%;
}

.inventory .container {
  padding: 10px 1em;
  text-align: center;
}

.inventory .container .box {
  color: #222227;
}

.inventory .container .box .title {
  font-size: 5vw;
}

.inventory .container .box p {
  font-size: 18px;
}

.inventory .container .view-all {
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #D81E2A;
  padding: 10px 30px;
  font-weight: 800;
}

.inventory .container .view-all i {
  margin-left: 10px;
}

.inventory .container .filter form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px 0px;
}

.inventory .container .filter form select {
  padding: 10px 15px;
  border: none;
  border: 1px #d4d4d4 solid;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border-radius: 8px;
}

.inventory .container .filter form button {
  background-color: #D81E2A;
  color: white;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  border: none;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 8px;
}

.inventory .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px 0px;
}

.inventory .container .grid .box {
  position: relative;
}

.inventory .container .grid .box .ordernow {
  background-color: #D81E2A;
  border-radius: 2px;
  color: white;
  display: inline;
  padding: 10px 20px;
}

.inventory .container .grid .box .overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(180deg, white 20%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  height: 150px;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.inventory .container .grid .box .img {
  position: relative;
}

.inventory .container .grid .box .img h2 {
  padding: 5px 10px;
  color: white;
  background-color: #D81E2A;
  position: absolute;
  bottom: 27px;
  z-index: 10;
}

.inventory .container .grid .box .img img {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.inventory .container .grid .box .details h1 {
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.inventory .container .grid .box .details h1 span {
  text-transform: uppercase;
}

.inventory .container .grid .box .details h2 {
  color: #D81E2A;
  margin-bottom: 10px;
}

.inventory .container .grid .box .collapsible {
  background-color: #f5f5f5;
  color: #6d6d6d;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  font-weight: 800;
  margin-bottom: 20px;
}

.inventory .container .grid .box .collapsible i {
  float: right;
  font-size: 16px;
  margin-top: 3px;
}

.inventory .container .grid .box .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: start;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.inventory .container .grid .box .content ul {
  padding: 0px 10px;
  list-style: none;
}

.inventory .container .grid .box .content ul li {
  margin: 20px 0px;
  color: #6d6d6d;
  font-size: 15px;
}

/*=============================*/
.financing {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 31, 37, 0.3)), to(#1b1f25)), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/06/car-dealer-26.jpg) !important;
  background-image: linear-gradient(180deg, rgba(27, 31, 37, 0.3) 0%, #1b1f25 100%), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/06/car-dealer-26.jpg) !important;
  background-position: center;
  background-size: cover;
  position: relative;
}

.financing .top-asset {
  left: 0px;
  top: -1px;
  width: 100%;
  position: absolute;
}

.financing .container {
  padding: 200px 1em;
  text-align: center;
  max-width: 1200px;
  position: relative;
}

.financing .container .title {
  font-size: 5rem;
  color: white;
}

/*=============================*/
.brands {
  width: 100%;
}

.brands .container {
  padding: 50px 1em;
  text-align: center;
  max-width: 1200px;
}

.brands .container .box {
  color: #222227;
}

.brands .container .box .title {
  font-size: 5vw;
}

.brands .container .box p {
  font-size: 18px;
}

.brands .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 100px 0px;
}

.brands .container .grid i {
  font-size: 4.5vw;
  color: #d6d6d6;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.brands .container .grid i:hover {
  color: #555;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

/*=============================*/
.contact {
  width: 100%;
  background-color: #D81E2A;
  position: relative;
}

.contact .bottom-img {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 2;
}

.contact .container {
  padding: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .box-1 {
  width: 100%;
  padding: 100px 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 30, 36, 0.9)), to(rgba(213, 26, 39, 0.69))), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/06/car-dealer-34.jpg) !important;
  background-image: linear-gradient(180deg, rgba(24, 30, 36, 0.9) 0%, rgba(213, 26, 39, 0.69) 100%), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/06/car-dealer-34.jpg) !important;
  background-size: cover;
  position: relative;
}

.contact .container .box-1 .overlay-box {
  position: absolute;
  top: -2px;
  left: 0%;
  height: 80px;
  background-color: white;
  width: 100%;
}

.contact .container .box-1 .inner {
  color: white;
  max-width: 500px;
}

.contact .container .box-1 .inner h1 {
  font-size: 5vw;
}

.contact .container .box-1 .inner h2 {
  font-size: 2vw;
}

.contact .container .box-1 .inner .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .container .box-1 .inner .flex ul {
  list-style: none;
}

.contact .container .box-1 .inner .flex ul li {
  font-size: 15px;
  margin: 10px 0px;
}

.contact .container .box-1 .inner .flex ul li span strong {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 26px;
}

.contact .container .box-1 .inner .flex ul .gap {
  margin-bottom: 15px;
}

.contact .container .box-2 {
  width: 100%;
  padding: 100px;
}

.contact .container .box-2 h1 {
  color: white;
  font-size: 2.5rem;
}

.contact .container .box-2 form {
  width: 80%;
}

.contact .container .box-2 form .errors {
  list-style: none;
  background-color: #4d070b;
  padding: 5px 20px;
  color: white;
  margin-bottom: 5px;
}

.contact .container .box-2 form .errors li {
  margin: 10px 0px;
}

.contact .container .box-2 form .success {
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  background-color: #4a9e29;
}

.contact .container .box-2 form input,
.contact .container .box-2 form textarea {
  width: 100%;
  background-color: #A40D17;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  resize: none;
}

.contact .container .box-2 form input::-webkit-input-placeholder,
.contact .container .box-2 form textarea::-webkit-input-placeholder {
  color: #e2e2e2;
}

.contact .container .box-2 form input:-ms-input-placeholder,
.contact .container .box-2 form textarea:-ms-input-placeholder {
  color: #e2e2e2;
}

.contact .container .box-2 form input::-ms-input-placeholder,
.contact .container .box-2 form textarea::-ms-input-placeholder {
  color: #e2e2e2;
}

.contact .container .box-2 form input::placeholder,
.contact .container .box-2 form textarea::placeholder {
  color: #e2e2e2;
}

.contact .container .box-2 form button {
  color: #D81E2A;
  background-color: white;
  padding: 15px 40px;
  font-family: 'Teko', sans-serif;
  border: none;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

/*=============================*/
.footer {
  width: 100%;
  background-color: #212124;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #65656d;
}

.footer .container p {
  padding-top: 10px;
}

.footer .container p a {
  color: #65656d;
  text-decoration: underline;
}

.footer .container ul a {
  color: #65656d;
  margin: 0px 20px;
  font-size: 22px;
}

.footer .container .payment i {
  font-size: 30px;
  margin: 0px 10px;
}

/*=====================================
======================================
======================================
======================================
=====================================*/
@media screen and (max-width: 1110px) {
  .header {
    height: 100%;
    padding: 100px 0px;
  }
  .header .overlay-box {
    display: none;
  }
  .header .container .details .inner-box {
    margin: 0px;
  }
  .header .container .details .inner-box .title {
    font-size: 5rem;
    line-height: 70px;
  }
  .inventory .container .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .financing .top-asset {
    display: block;
  }
  .financing .container {
    padding: 100px 1em;
  }
  .financing .container .title {
    font-size: 5rem;
    color: white;
  }
  .brands .container {
    padding: 50px 1em;
  }
  .brands .container .box .title {
    font-size: 4rem;
  }
  .brands .container .box p {
    font-size: 15px;
  }
  .brands .container .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .brands .container .grid i {
    font-size: 4rem;
    color: #d6d6d6;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .contact .bottom-img {
    display: none;
  }
  .contact .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact .container .box-1 .overlay-box {
    position: absolute;
  }
  .contact .container .box-1 .inner .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .box-2 {
    width: 100%;
    padding: 50px;
  }
  .contact .container .box-2 button {
    padding: 10px 20px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 50px 1em;
  }
  .footer .container p {
    margin-bottom: 30px;
  }
  .footer .container ul {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .nav .container .res-btn {
    display: none;
  }
  .nav .container button {
    display: block;
  }
}

@media screen and (max-width: 765px) {
  .header .container {
    width: 95%;
  }
  .header .container .details .inner-box .title {
    font-size: 4rem;
    line-height: 70px;
  }
  .about {
    width: 100%;
  }
  .about .container {
    width: 80%;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .button {
    bottom: 0px;
    padding: 10px 40px;
  }
  .about .container .button i {
    font-size: 15px;
    color: #D81E2A;
    margin-left: 10px;
  }
  .about .container .box-1 {
    padding: 50px 1em;
  }
  .about .container .box-1 .bottom-1 {
    display: none;
  }
  .about .container .box-2 {
    padding: 50px 1em;
  }
  .about .container .box-2 .bottom-2 {
    display: none;
  }
  .services .bottom-img {
    display: none;
  }
  .services .container {
    padding: 100px 1em;
    text-align: center;
    width: 100%;
  }
  .services .container .title {
    font-size: 4rem;
    color: #222227;
  }
  .services .container .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .inventory .container {
    width: 100%;
  }
  .inventory .container .box .title {
    font-size: 5rem;
  }
  .inventory .container .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .financing .top-asset {
    display: block;
  }
  .financing .container {
    padding: 100px 1em;
  }
  .financing .container .title {
    font-size: 4rem;
    color: white;
  }
  .brands .container {
    padding: 50px 1em;
  }
  .brands .container .box .title {
    font-size: 4rem;
  }
  .brands .container .box p {
    font-size: 14px;
  }
  .brands .container .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .brands .container .grid i {
    font-size: 4rem;
  }
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .box-1 .overlay-box {
    position: absolute;
    display: none;
  }
  .contact .container .box-1 .inner .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .container .box-2 {
    width: 100%;
    padding: 50px 1em;
  }
  .contact .container .box-2 form {
    width: 100%;
  }
  .contact .container .box-2 form button {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 595px) {
  .header .container {
    width: 95%;
  }
  .header .container .details .inner-box .title {
    font-size: 3rem;
    line-height: 70px;
  }
  .about {
    width: 100%;
  }
  .about .container {
    width: 100%;
  }
  .services .bottom-img {
    display: none;
  }
  .services .container {
    padding: 100px 1em;
  }
  .services .container .title {
    font-size: 3rem;
  }
  .services .container .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .contact .container .box-1 {
    padding: 50px 1em;
  }
  .contact .container .box-1 .inner {
    width: 100%;
  }
  .contact .container .box-1 .inner h1 {
    font-size: 2.5rem;
  }
  .contact .container .box-1 .inner h2 {
    font-size: 2rem;
  }
  .contact .container .box-1 .inner .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .box-2 {
    width: 100%;
    padding: 50px;
  }
  .contact .container .box-2 button {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 450px) {
  .header .container {
    width: 95%;
  }
  .header .container .details .inner-box .title {
    font-size: 3rem;
    line-height: 70px;
  }
  .header .container .details .inner-box a {
    padding: 10px 20px;
    font-size: 18px;
  }
  .about {
    width: 100%;
  }
  .about .container {
    width: 100%;
  }
  .services .bottom-img {
    display: none;
  }
  .services .container {
    padding: 100px 1em;
  }
  .services .container .title {
    font-size: 3rem;
  }
  .services .container .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .brands .container {
    padding: 50px 1em;
  }
  .brands .container .box .title {
    font-size: 4rem;
  }
  .brands .container .box p {
    font-size: 14px;
  }
  .brands .container .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .brands .container .grid i {
    font-size: 4rem;
  }
  .contact .container .box-1 {
    padding: 50px 1em;
  }
  .contact .container .box-1 .inner {
    width: 100%;
  }
  .contact .container .box-1 .inner h1 {
    font-size: 2.5rem;
  }
  .contact .container .box-1 .inner h2 {
    font-size: 2rem;
  }
  .contact .container .box-1 .inner .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .box-2 {
    width: 100%;
    padding: 50px;
  }
  .contact .container .box-2 button {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 380px) {
  .contact .container .box-1 {
    padding: 50px 1em;
  }
  .contact .container .box-1 .inner {
    width: 100%;
  }
  .contact .container .box-1 .inner h1 {
    font-size: 2.5rem;
  }
  .contact .container .box-1 .inner h2 {
    font-size: 2rem;
  }
  .contact .container .box-1 .inner .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .box-2 {
    width: 100%;
    padding: 50px 1em;
  }
  .contact .container .box-2 button {
    padding: 10px 20px;
  }
}
/*# sourceMappingURL=index.css.map */